- name: Get VPC Info
  amazon.aws.ec2_vpc_net_info:
    region: "{{ region }}"
    filters: { "tag:Name": "{{ prefix }}-vpc"}
  register: vpc_info

- name: Terminate Network VPC
  when: vpc_info.vpcs | length > 0
  block: 
    - set_fact: { target_vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}" }
    - name: Terminate VPC
      amazon.aws.ec2_vpc_net:
        vpc_id: "{{ target_vpc_id }}"
        region: "{{ region }}"
        state: absent