---
############################################
# 1. 정보 조회
############################################
- name: Get VPC Info
  amazon.aws.ec2_vpc_net_info:
    region: "{{ aws_region }}"
    filters:
      "tag:Name": "{{ project_name }}-vpc"
  register: target_vpc

- name: Get Private Subnet
  amazon.aws.ec2_vpc_subnet_info:
    region: "{{ aws_region }}"
    filters:
      "tag:Name": "{{ project_name }}-pri-sub-*"
  register: private_subnets
  
############################################
# 3. EC2 인스턴스 생성
############################################
- name: Get Existing Security Group
  amazon.aws.ec2_security_group_info:
    region: "{{ aws_region }}"
    filters:
      "tag:Name": "{{ project_name }}-app-sg"
  register: existing_sg

- name: Check if Security Group exists
  fail:
    msg: "'{{ project_name }}-app-sg' 보안 그룹을 찾을 수 없습니다."
  when: existing_sg.security_groups | length == 0

- name: Launch Jenkins EC2
  amazon.aws.ec2_instance:
    name: "{{ project_name }}-jenkins"
    key_name: "{{ key_pair_name }}"
    vpc_subnet_id: "{{ private_subnets.subnets[0].subnet_id }}"
    instance_type: t3.large
    security_group: "{{ existing_sg.security_groups[0].group_id }}"
    iam_instance_profile: "{{ project_name }}-jenkins-ssm-role"
    
    # [핵심 수정] 스토리지 용량 20GB 설정
    volumes:
      - device_name: /dev/sda1
        ebs:
          volume_size: 20
          volume_type: gp3
          delete_on_termination: yes
    
    network:
      assign_public_ip: no
    image_id: "{{ ami_id }}"
    region: "{{ aws_region }}"
    tags:
      Name: "{{ project_name }}-jenkins"
      Role: jenkins
    wait: yes
  register: ec2_jenkins

############################################
# 4. 결과 출력
############################################
- name: Show Connection Info
  debug:
    msg: 
      - "Jenkins Server Created in PRIVATE Subnet!"
      - "Instance Type: t3.small"
      - "Storage Size: 20GB"
      - "Instance ID: {{ ec2_jenkins.instance_ids[0] }}"
      - "Private IP: {{ ec2_jenkins.instances[0].private_ip_address }}"
      - "SSM Connect Command: aws ssm start-session --target {{ ec2_jenkins.instance_ids[0] }}"